body {
    background-color: #FAFBFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C757D;
    font-family: Poppins;
}

header {
    min-height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    background-color: #204CD9;
}

.square {
    margin-top: 120px;
    margin-bottom: 60px;
    width: 18rem;
    border: none;
    box-shadow: 0 0 45px 0px rgba(0, 0, 0, .12);
    padding: 1.5rem;
    border-radius: .25rem;
    background-color: #FFF;
}

#line {
    height: 1px;
    margin: 1rem 0;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

#title {
    color: #0642FF;
    text-align: center;
    margin-bottom: .75rem;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
}

#description {
    display: inline-block;
    text-transform: initial;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: .75rem;
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.1;
    box-sizing: border-box;
    word-wrap: break-word;
}

#logo {
    width: 25%;
    max-width: 100%;
    height: auto;
}

label {
    display: inline-block;
    font-size: .8rem;
    text-align: left;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #082346;
}

#name_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    display: block;
    width: 100%;
    padding: .28rem .8rem;
    border: 1px solid #DEE2E6;
    border-radius: .25rem;
    font-size: .775rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C757D;
    box-sizing: border-box;
}

#name::placeholder {
    color: #A4A4A4;
    text-align: left;
    position: relative;
}

#name:focus {
    border: 1px #2C8EF8 solid;
    outline: none;
    border-radius: .25rem;
    font-size: .775rem;
}

#p_name {
    display: block;
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: .75rem;
    color: #FA5C7C;
    font-family: inherit;
    font-weight: 200;
}

#phone_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone {
    display: block;
    width: 100%;
    padding: .28rem 4.2rem;
    border: 1px solid #DEE2E6;
    border-radius: .25rem;
    font-size: .775rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C757D;
    box-sizing: border-box;
}

#phone::placeholder {
    color: #A4A4A4;
    position: relative;
    font-family: inherit;
}

#phone:focus {
    border: 1px #2C8EF8 solid;
    outline: none;
    border-radius: .25rem;
    font-size: .775rem;
}

#p_phone {
    display: block;
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: .75rem;
    color: #FA5C7C;
    font-family: inherit;
    font-weight: 200;
}

button {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding: .28rem .8rem;
    font-size: .875rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFF;
    background-color: #313A46;
    border: 1px solid transparent;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    border-radius: 0;
}

button:hover {
    background-color: #2A313C;
    color: #FFF;
    border-color: #272E38;
}

button:active {
    transform: translateY(4px);
}

#name.invalid, #phone.invalid {
    border: 1px solid #FA5C7C;
}

#v_pho {
    display: block;
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: .75rem;
    color: #FA5C7C;
    font-family: inherit;
    font-weight: 200;
}

footer {
    bottom: 0;
    padding: 17px 24px 17px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #C0CCDB;
    text-align: center;
}
