body {
    background-color: #FAFBFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C757D;
    font-family: Poppins;
}

.square {
    margin-top: 120px;
    margin-bottom: 60px;
    width: 18rem;
    border: none;
    box-shadow: 0 0 45px 0px rgba(0, 0, 0, .12);
    padding: 1.5rem;
    border-radius: .25rem;
    background-color: #FFF;
}

.text {
    display: inline-block;
    font-size: 1rem;
    text-align: left;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #082346;
    font-family: inherit;
}

.status {
    width: 40%;
    height: auto;
    background: url("../images/failed.png") no-repeat;
    background-size: contain;
}

button {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding: .28rem .8rem;
    font-size: .875rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFF;
    background-color: #313A46;
    border: 1px solid transparent;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    border-radius: 0;
    font-family: inherit;
}

button:hover {
    background-color: #2A313C;
    color: #FFF;
    border-color: #272E38;
}

button:active {
transform: translateY(4px);
}
