<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/failed.css">
    <link rel="icon" href="../static/images/money-flow.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <title>Failed</title>
</head>
<body>
    <div class="square">
        {% if status == 200 %}
        <div style="display: flex;">
            <div class="text">
                <p>Teléfono no registrado para ninguna persona.</p>
            </div>
            <div class="status"></div>
        </div>
        {% elif status == 400 %}
            {% if error == 'field phone invalid format' %}
            <div style="display: flex;">
                <div class="text">
                    <p>Formato de teléfono invalido.</p>
                </div>
                <div class="status"></div>
            </div>
            {% elif error == 'Invalid name' %}
            <div style="display: flex;">
                <div class="text">
                    <p>Nombre invalido. No está registrado a ese número</p>
                </div>
                <div class="status"></div>
            </div>
            {% endif %}
        {% endif %}
        {% if sender %}
        <form action="/sender" method="GET">
            <div style="display: flex; justify-content: space-around;">
                <button>Volver</button>
            </div>
        </form>
        {% else %}
        <form action="/receiver" method="GET">
            <div style="display: flex; justify-content: space-around;">
                <button>Volver</button>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>
