<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/failed.css">
    <link rel="icon" href="../static/images/money-flow.png">
    <title>Failed</title>
</head>
<body>
    <div class="square">
        <div style="display: flex;">
            <div class="text">
                <p>Proceso no exitoso. Monto Inválido.</p>
            </div>
            <div class="status"></div>
        </div>
        <form action="/receiver/{{ phone }}&{{ name }}" method="GET">
            <div style="display: flex; justify-content: space-around;">
                <button>Volver</button>
            </div>
        </form>
    </div>
</body>
</html>
