<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/history.css">
    <link rel="icon" href="../static/images/money-flow.png">
    <script type="text/javascript" src="../static/scripts/cash.js"></script>
    <script type="text/javascript" src="../static/scripts/history_cash.js"></script>
    <script type="text/javascript" src="../static/scripts/balance.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>History</title>
</head>
<body>
    <header></header>
    <div class="square">
        <div id="logo">
            <img src="https://nufi-config.netlify.app/assets/images/logo-nufi-dark.svg">
            <div id="blank"></div>
        </div>
        <hr id="line">
        <div>
            <h6 id="description">Historial de remesas hechas al número de teléfono {{ phone }}</h6>
        </div><br>
        <div class="table" style="display: flex; justify-content: center;">
            <table id="transactions">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in list_history %}
                    <tr>
                        <td>{{ history.date }}</td>
                        <td class="amount">{{ history.balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: center;">
            <h6 class="balance">Disponible: <h6 id="available">{{ cash }}</h6></h6>
        </div>
        <div>
            <form name="cash-balance" action="/receiver/{{ phone }}" onsubmit="return validateBalance()" method="POST">
            <div>
                <h6>¿Cuánto dinero desea retirar?</h6>
            </div>
                <div id="cash-box">
                    <input id="cash" name="cash" type="currency" placeholder="Cantidad...">
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <button>Cobrar</button>
                </div>
            </form>
            <form action="/receiver/get" method="GET" style="display: flex; justify-content: center;">
                <button>Volver</button>
            </form>
        </div>
    </div>
    <footer></footer>
</body>
</html>
