<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/history.css">
    <link rel="icon" href="../static/images/money-flow.png">
    <script type="text/javascript" src="../static/scripts/cash.js"></script>
    <script type="text/javascript" src="../static/scripts/history_cash.js"></script>
    <title>History</title>
</head>
<body>
    <div class="square">
        <div>
            <label for="">Historial de remesas hechas al número de teléfono {{ phone }}</label>
        </div><br>
        <div class="table">
            <table id="transactions">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in list_history %}
                    <tr>
                        <td>{{ history.date }}</td>
                        <td class="amount">{{ history.balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br><br>
        <div>
            <h1>Disponible: <h1 id="available">{{ cash }}</h1></h1>
        </div>
        <div>
            <form action="/receiver/{{ phone }}" method="POST">
            <div>
                <label for="cash">¿Cuánto dinero desea retirar?</label>
            </div><br><br>
                <div>
                    <input id="cash" name="cash" type="currency" placeholder="Cantidad...">
                </div><br><br>
                <div style="display: flex; justify-content: space-around;">
                    <button>Cobrar</button>
                </div>
            </form><br><br>
            <form action="/receiver/get" method="GET" style="display: flex; justify-content: center;">
                <button>Volver</button>
            </form>
        </div>
    </div>
</body>
</html>
