<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/sender.css">
    <link rel="icon" href="../static/images/money-flow.png">
    <script type="text/javascript" src="../static/scripts/cash.js"></script>
    <script type="text/javascript" src="../static/scripts/phone.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <title>Sender</title>
</head>
<body>
    <header></header>
    <div class="title"></div>
    <div class="square">
        <div id="logo">
            <img src="https://nufi-config.netlify.app/assets/images/logo-nufi-dark.svg">
        </div>
        <hr id="line">
        <h4 id="title">Envío de remesas</h4>
        <h6 id="description">Diligencia los campos para determinar el envío de una remesa.</h6>
        <form class="form" action="/sender" method="POST" autocomplete="off">
            <label for="name">
                <br>¿A quién vas a enviar dinero?
            </label>
            <div style="display: flex; justify-content: center;">
                <input id="name" name="nm" class="name" type="text" placeholder="Nombre...">
                <span></span>
            </div><br>
            <label for="phone">
                ¿Cuál es su número de teléfono
            </label>
            <div class="container" style="display: flex; justify-content: center;">
                  <input id="phone" type="tel" name="pho" />
            <div class="alert alert-info" style="display: none;"></div>
            </div><br>
            <label for="cash">
                ¿Cuánto dinero vas a enviar?
            </label>
            <div style="display: flex; justify-content: center;">
                <input id="cash" name="csh" type='currency' placeholder='Cantidad...' />
                <span></span>
            </div><br>
            <div style="display: flex; justify-content: center;">
                <button><b>Enviar</b></button>
            </div>
        </form>
    </div>
    <footer></footer>
</body>
</html>
